<div ng-controller = "AutCtrl" class="background1">
	<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Applying UI Themes</li>
	</ul>
	<div class="row ">
	        <div class="col-lg-12">
	        	1. By using CSS Meta tags, You can render UI Themes. To render Bootstrap theme use 
	        	BOOTSTRAP_CSS_ALL
	        	<img src="/img/hw1/9.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	 2.Refresh the page to see the changes. There are other meta tags to render different UI Themes 
	        	 BOOTSTRAP_JS_ALL,RATCHET_ALL,IONIC_ALL,POLYMER_ALL,ANGULAR_ALL 
	        	<img src="/	img/hw1/10.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        </div>
	</div>
</div>