<div ng-controller = "COCtrl" class="background1">
	<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Create Custom Objects</li>
	</ul>
	<div class="row ">
	        <div class="col-lg-12">
	        	1. Custom Objects are data carrying object and bridge betwee UI and database. Each Custom Object bind with one or more data objects in the data base. By using custom object, we can get/update data from/to database in UI. Follow below steps to create custom objects.<br/>
	        	2. Open an application in App Editor, Then go to Tools menu and select SQL Editor.
	        	<img src="/img/hw1/co_1.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	3. Enter DDL to create a table and click on <strong>Execute</strong> button.
	        	<img src="/img/hw1/co_2.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	4. Go to Add Details page, click on Custom Objects Tab and click on Create Object Button  
	        	<img src="/img/hw1/co_3.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	
	        	5.Select recently created table and enter custom object name click on <strong>Generate</strong> button.
	        	<img src="/img/hw1/co_4.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	6. You can see the mapping table and mapping columns for recently created custom object.
	        	<img src="/img/hw1/co_5.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        </div>
	</div>
</div>