 <div class="container" ng-controller="DHelpCtrl">
    <div class="container theme-showcase" role="main"  style="margin-top:70px">
    <div class="row">
    <div class="col-sm-12">
          <div class="todo">
            <div class="todo-search">
              <input class="todo-search-field" type="search" value="" placeholder="Search">
            </div>
            <ul>
              <li ng-repeat = "topic in topics">
              <div class="todo-content">
                  <h4 class="todo-name">
                 <a ng-click="go(topic.link)"> {{topic.name}}</a>
                  </h4>
                  
                </div>
          </span>
            </li>
            <ul>
            <!--   <li class="">
                <div class="todo-content">
                  <h4 class="todo-name">
                 <a ng-click="go('hw1')"> Create Hellow World App</a>
                  </h4>
                  
                </div>
              </li>
              <li class="">
                <div class="todo-content">
                  <h4 class="todo-name">
                    <a ng-click="go('aut')"> Applying UI Themes</a>
                  </h4>
                </div>
              </li>
              <li class="">
                <div class="todo-content">
                  <h4 class="todo-name">
                    Import/Export data
                  </h4>
                  1998 Broadway
                </div>
              </li>
              <li class="">
                <div class="todo-content">
                  <h4 class="todo-name">
                    API Console
                  </h4>
                  As soon as possible
                </div>
              </li>

              <li class="">
                <div class="todo-content">
                  <h4 class="todo-name">
                    Pre/Post Processor Scripts
                  </h4>
                  As soon as possible
                </div>
              </li>
               <li class="">
                <div class="todo-content">
                  <h4 class="todo-name">
                    Create an Org
                  </h4>
                  As soon as possible
                </div>
              </li>
               <li class="">
                <div class="todo-content">
                  <h4 class="todo-name">
                   Build a mobile app
                  </h4>
                  As soon as possible
                </div>
              </li>
               <li class="">
                <div class="todo-content">
                  <h4 class="todo-name">
                    Configure mobile specific settings
                  </h4>
                  As soon as possible
                </div>
              </li> -->
            </ul>
          </div><!-- /.todo -->
     
        </div><!-- /.col-sm-4 -->
      </div>
    </div>  
    
   