<div ng-controller = "HW1Ctrl" class="background1">
	<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Create Hellow World App</li>
	</ul>
	<div class="row ">
	        <div class="col-lg-12">
	        

	        	1.Login into Dennis 
	        	<img src="/img/hw1/0.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	 2.Click on My Apps Tab, It will show you all the apps created in your Org. Then click on Create App button to create new application
	        	<img src="/	img/hw1/1.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	 3. Enter app name and description then click on Save button
				<img src="/	img/hw1/3.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	 4. Choose your app from My Apps. 
				<img src="/	img/hw1/4.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	 5. To Edit an application select on the Actions Menu then select Edit App option.
	        	<img src="/	img/hw1/5.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	  6. To create a new file click on New menu item.
	        	<img src="/	img/hw1/6.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	  7. Add the html content and save the file by Ctrl+s. To preview the application, Click on Actions --> Goto Apps.
	        	<img src="/	img/hw1/7.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        	  8. You will see the changes that you made in the Editor. Thats it!!
	        	<img src="/	img/hw1/8.png" alt="example-image"
	        	 class="img-rounded img-responsive" height="800" width="600">
	        	 <br>
	        </div>
	</div>
</div>